@import url("./profil.css");

.add_auto{
    background-image: url("../images/bmw-diag\ 1.png");
    background-size: cover;
    background-position: center;
    padding: 3rem;
    border-radius: 1.5rem;
}

.add_auto h2{
    color: #F8DAAE;
    font-size: 2.5rem;
}
.add_auto div{
    width: 90%;
    margin-top: 1rem;
}
.add_auto div span{
    color: #fff;
    font-size: 1.3rem;
}
.radio_change{
    margin-top: 2rem;
    background: transparent;
    border: 1px  solid #342815;
    border-radius: 5rem;
    display: flex;
    justify-content: space-between;
}
.radio_change_btn button{
    background: linear-gradient(90deg, #FCDDB1 0%, #A6906B 100%);
    box-shadow: 0px 11px 26px #000000;
    border-radius: 2rem;
    color: #000000;
    width: 13rem;
    height: 4rem;
    font-size: 1.8rem;
    margin: .5rem;
}
input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width:1.5rem;
    height: 1.5rem;
    /* background-color only for content */
    background-clip: content-box;
    background-color: #e7e6e7;
    border-radius: 50%;
  }
  
  /* appearance for checked radiobutton */
  input[type="radio"]:checked {
    background-color: #e7e6e7;
    border: 5px solid #AA936E;

  }
  
  /* optional styles, I'm using this for centering radiobuttons */
  .flex {
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }
  .flex label{
      font-size: 1.2rem;
      color: #fff;
      margin-left:.5rem ;
  }
  .rowe{
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 3rem;
  }
  .step{
      background:#000000 ;
      width: 32%;
      border-radius: 1rem;
      padding: 2rem;
  }
  .step:hover{
    
  }
  .stepTitle h2{
      color: #C4B193;
      font-size: 2.5rem;
  }
  .stepMetaTitle h3{
      font-size: 1.3rem;
      color: #C4B193;
      margin-bottom: 1rem;
  }
  .step span{
      color: #fff;
      font-size: 1rem;
  }
  .step_end{
      background-image: url("../images/car-keys-car-salon\ 1.png");
      background-position: center;
      background-size: cover;
  }
  .main_titile{
      margin-bottom: 3rem;
  }
  .important_information_section{
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0%;
      left: 0%;
      background: rgba(0, 0, 0, 0.74);
      z-index: 20;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .important_information_section>div{
        width: 35rem;
    }
    .close_bloc{
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }
    .close_mg{
        width: 2.4rem;
        height: 2.4rem;
    }
    .close_mg img{
        width: 100%;
    }
  .important_information_main{
    background: #0E0E0E;
    box-shadow: 0px 32px 52px #000000;
    margin:0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem 3rem 1rem 3rem;
    border-radius: 1.5rem;
  }
  .important_information_title{
    background: -webkit-linear-gradient(180deg,#887151, #F6D8AD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 2.5rem;
  }
  .important_information_text>div {
      margin-bottom: 1rem;
  }
  .important_information_text>div span{
      color: #fff;
      font-size: 1rem;
  }
  .important_information_text>div span:nth-child(1){
      margin-right: .5rem;
      margin-bottom: 1rem;
  }
  .instruction_download{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    margin: .5rem;
    padding:.5rem 2rem ;
    border-radius: .5rem;
  }
  .instruction_download>div{
      width: 1rem;
      margin-right: 1rem;
      height: 2rem;
  }
  .instruction_download>div img{
    width: 100%;
}
.instruction_download span{
    font-size: .9rem;
    color: #C4B193;
}
.okay_doc{
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: left;
} 
.okay_doc>span{
    font-size: .8rem;
    color: #fff;
    width: 62%;
}

.geekmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background: #000000;
    border: 1px solid #4F4F4F;
    border-radius: .2rem;
}


.main {
    display: block;
    position: relative;
    cursor: pointer;
    margin-right: 2rem;
}
input[type=checkbox] {
    visibility: hidden;
}
.geekmark:after {
        content: "";
        position: absolute;
        display: none;
}
.main input:checked ~ .geekmark:after {
    display: block;
}
.main .geekmark:after {
   
    width: .6rem;
    height: .6rem;
    top: .3rem;
    left: .4rem;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.next{
    margin-top: 1rem;
}
.next button{
    background: #565656;
    box-shadow: 0px 11px 26px #000000;
    width: 11rem;
    padding: .5rem;
    color: #000;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 6rem;
}
.next button:hover{
    background: linear-gradient(90deg, #FCDDB1 0%, #A6906B 100%);
    box-shadow: 0px 11px 26px #000000;
}
.change1{
    border: 1px  solid #342815;
    border-radius: 3rem;
}
.flex5 {
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    margin-left: 0;
}
.service_fee{
    background:#000000 ;
    padding: 2rem;
    border-radius: 2rem;
    margin-top:3rem;
}
.service_fee_title span{
    background: -webkit-linear-gradient(180deg,#887151, #F6D8AD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
}
.service_fee_text{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.service_fee_text span{
    font-size: 1.2rem;
    color:#FFFFFF ;
}
.mach_section{
    display: flex;
    margin-top: 1rem;
}
.mach{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 2rem;
}
.mach span:nth-child(1){
    font-size: 1rem;
    color: #C4B193;
}
.mach span:nth-child(2){
    font-size: 2.2rem;
    color: #C4B193;
}
.button_pay{
    margin-top: 2rem;
}
.button_pay button{
    background: linear-gradient(90deg, #FCDDB1 0%, #A6906B 100%);
    width: 11rem;
    padding: .5rem;
    color: #000;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 6rem;
    border-radius: 1px solid #A6906B ;
}
.button_pay button:hover{
    background: transparent;
    color: #A6906B;
}
.uploading_information{
    display: flex;

}
.uploading_documents{
    background: #000;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 2rem;
    width: 100%;
    margin-right: .75rem;
}
.uploading_documents_title span{
    font-size: 2rem;
    background: -webkit-linear-gradient(180deg,#F6D8AD, #887151);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.uploading_documents form{
    display: flex;
    flex-direction: column;
}
.form{
    display: flex;
}
.uploading_documents .form>div:nth-child(1){
    margin-right:.75rem;
}
.uploading_documents .form>div:nth-child(2){
    margin-left:.75rem;
}

.uploading_documents .form>div>div{
    display: flex;
    flex-direction: column;
}
.uploading_documents .form>div>div label{
  font-size: 1rem;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.uploading_documents .form>div>div input{
    font-size: 1rem;
    padding: .5rem  .5rem .5rem 1rem;
    background: #101010;
    border-radius: .3rem;
    border: none;
    width: 22rem;
    color: #737373;
  }
  .price>div{
      display: flex;
      justify-content: space-between;
      font-size: 1rem;
      padding: .6rem  .6rem .6rem 1rem;
      background: #101010;
      border-radius: .3rem;
      width: 22rem;
      color: #737373;
  }
  .price>div span:nth-child(2){
      color: #fff;
  }

.application_form{
    background: #000;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 2rem;
    margin-left: .75rem;
}

.delet{
    width: 22rem;
}
.add_file_section{
    display: flex;
    justify-content: space-between;

}
.add_file_btn{
    display: flex;
    color: #fff;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
    background: #101010;
    border: none;
    width: 100%;
    margin-right: 1rem;
    padding: 0  .5rem 0 1rem;
    border-radius: .3rem;
}
.add_file_btn span{
    color: #737373;
    font-size: 1rem;
    margin-right: 5.5rem;
}
.add_file{
    width: .8rem;
}
.add_file img{
    width: 100%;
    cursor: pointer;
}
.del_brn{
    width: 100%;
}

.del_brn button{
    color: #fff;
    font-size: 1rem;
    padding:.6rem  2rem ;
    border-radius: .3rem;
    background: #101010;
    border: none;
}
.driver_license>div{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: .3rem;
    background: #101010;
    padding: .5rem  1rem .5rem 1rem;
    color:#737373 ;
}
.application_form_text{
    margin-top: 1rem;
}
.application_form_text span{
    font-size: 1rem;
    color: #fff;
}
.application_form_text span:nth-child(1){
   margin-right: 1rem;
}
.application_form_text_title{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.application_form_text_title span{
    color: #C4B193;
    font-size: 1rem;

}
.download{
    display: flex;
    width: 7.5rem;
    background: #101010;
    border-radius: .7rem;
    justify-content: space-between;
    padding: .7rem;
    margin-top: 1rem;
    color: #fff;
}
.download_img{
    width: 1rem;
}
.download_img img{
    width: 100%;
}
.etxt_area >div{
    display: flex;
    flex-direction: column;
}
.etxt_area >div textarea{
    border-radius: .5rem;
    background:#101010;
    border: none;
    height: 8rem;
    padding-top: 1rem;
    color: #737373;
    padding-left: 1rem;
}
.etxt_area label{
    font-size: 1rem;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


#uploading_documents{
    margin-top: 2rem;
}
.uploading_documents_btn{
    background: #565656;
    box-shadow: 0px 11px 26px #000000;
    width: 11rem;
    padding: .5rem;
    color: #000;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 6rem;
}


.uploading_documents_btn:hover{
    background: linear-gradient(90deg, #FCDDB1 0%, #A6906B 100%);
    box-shadow: 0px 11px 26px #000000;
}


.application_form_title span{
    font-size: 2rem;
    background: -webkit-linear-gradient(180deg,#F6D8AD, #887151);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.has_been{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.726);
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}
.has_been_okay{
    background: #0E0E0E;
    box-shadow: 0px 32px 52px #000000;
    margin:0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem 3rem 1rem 3rem;
    border-radius: 1.5rem;
}
.has_been_okay_title{
    background: -webkit-linear-gradient(180deg,#887151, #F6D8AD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 2.5rem;
}
.has_been_okay_text{
    font-size: 1rem;
    color: #fff;
    display: flex;
    flex-direction: column;text-align: center;
    margin-bottom: 2rem;
}
.has_been_okay_mail{
    width: 100%;
    display: flex;
    justify-content: center;
}
.has_been_okay_mail input{
    padding: .5rem .5rem .5rem 1rem;
    background:#000 ;
    border: none;
    color: #737373;
    width: 80%;
}
.has_been_okay_btn {
    margin-top: 2rem;
}
.has_been_okay_btn button{
    background: linear-gradient(90deg, #FCDDB1 0%, #A6906B 100%);
    border: 1px solid #A6906B;
    color: #000;
    width: 7rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border-radius: .5rem;
}
.has_been_okay_btn button:hover{
    background: transparent;
    color: #A6906B;
}
.car_payment{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}
.car_payment_block{
    display: flex;
    flex-direction: column;
}
.car_p_col1_block{
    display: flex;
    flex-direction: column;
}
.car_p_col1{
    padding: 2rem;
    background: #000000;
    border-radius: 1rem;
    margin-right: 1rem;
    height: 30rem;
    width: 30rem;
}
.car_p_col1_title{
    margin-bottom: 1rem;
}
.car_p_col1_title span{
    background: -webkit-linear-gradient(180deg,#887151, #F6D8AD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.8rem;
}
.car_p_col2{
    background: #000;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 1rem;
    width: 30rem;
    padding: 2rem;

}
.car_p_col2_title span{
    background: -webkit-linear-gradient(180deg,#887151, #F6D8AD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.8rem;
}
.car_p_col1_main{
    display: flex;
    flex-direction: column;
}
.car_p_col1_main>div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-right: 1rem;
}
.car_p_col1_main>div span:nth-child(1){
    color: #fff;
    font-size:1rem;
    margin-right: 1rem;
    text-align:right;

}
#uploading_documents2{
    margin-top: 2rem;
}
.car_p_col1_main>div span:nth-child(2){
    color: #C4B193;
    text-align: left;
    font-size: 1.5rem;
    width: 6rem;
}
.quation{
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quation_img{
    width: 12rem;
    height: 16rem;
}
.quation_img img{
    width: 100%;
}
.next{
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    margin-top: 1rem;
}
.payment_on{
    display: flex;
}
.payment_on_itom{
    display: flex;
    flex-direction: column;
}
.payment_on_itom>span{
    font-size: 1rem;
    color: #fff;
}
.payment_on_itom>div{
    padding: 1rem;
    background:#101010 ;
    border-radius: .4rem;
    margin-right: 1rem;
    display: flex;
    width: 12rem;
    align-items: flex-end;
    margin-top: .5rem;
}
.payment_on_itom>div span:nth-child(1){
    font-size: 1.5rem;
    color: #C4B193;
}
.payment_on_itom>div span:nth-child(2){
    font-size: 1.1rem;
    margin-left: .4rem;
    color: #fff;
}
.service_fee2{
    background:#000000 ;
    padding: 2rem;
    border-radius: 2rem;
    margin-top:3rem;
}
.service_fee2 .mach_section .mach{
    display: flex;
}
.service_fee2 .mach_section .mach{
    margin-right: 6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.service_fee2 .mach_section .mach >span{
   color: #fff;
   font-size: 1.2rem;
}
.service_fee2 .mach_section .mach >div{
   display: flex;
   align-items: center;
   margin-bottom: 1rem;
 }
 .service_fee2 .mach_section .mach >div span:nth-child(1){
    font-size: 1.7rem;
    color:#C4B193;
  }
  .service_fee2 .mach_section .mach >div span:nth-child(2){
    font-size: 1.4rem;
    color:#fff;
    margin-left: .5rem;
  }
 .service_fee2 .mach_section .mach >div{
    display: flex;
  }
  .button_pay2{
      margin-top: 1.3rem;
  }
  .button_pay2 button{
    background: linear-gradient(90deg, #FCDDB1 0%, #A6906B 100%);
    width: 12rem;
    padding: .5rem;
    color: #000;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: .4rem;
    border-radius: 1px solid #A6906B ;
}
.button_pay2 button:hover{
    background: transparent;
    color: #A6906B;
}
.final_step{
    padding: 2rem;
    border-radius: .4rem;
    background: #000000;
    margin-top: 2rem;
}
.final_step_title span{
    background: -webkit-linear-gradient(180deg,#887151, #F6D8AD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.8rem;
}
.final_step_text{
    color: #C4B193;
    font-size: 1rem;
    margin-top: 1rem;
}
.form_item{
    display: flex;
}
.form_item>div{
    display: flex;
    flex-direction: column;
}
.form_item label{
    color: #fff;
    font-size: 1rem;
}
.form_item50 input{
    color: #fff;
    font-size: 1rem;
    border: none;
    background: #101010;
    width: 19rem;
    padding:.5rem .5rem .5rem 1.4rem;
    margin-right: 1rem;
    margin-top: .4rem;
    margin-bottom: .4rem;
    border-radius: .4rem;
}
.form_item100 input{
    color: #fff;
    font-size: 1rem;
    border: none;
    background: #101010;
    width: 39rem;
    padding:.5rem .5rem .5rem 1.4rem;
    margin-right: 1rem;
    margin-top: .4rem;
    margin-bottom: .4rem;
    border-radius: .4rem;
}
.location{
    width: 1rem;
    height: 1rem;
    position: relative;
    left: 17rem;
    top: -2.5rem;
}
.location img{
    width: 100%;
}
.location_btn{
    justify-content: center;
}
.location_btn button{
    background: linear-gradient(90deg, #FCDDB1 0%, #A6906B 100%);
    width: 14rem;
    padding: .5rem;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: .4rem;
    border-radius: 1px solid #A6906B ;

}
.location_btn button:hover{
    background: transparent;
    color: #A6906B;
}
  @media only screen and (max-width: 550px) {
    :root{
        font-size: 1rem;
    }
    #profile{
        margin-top: 1rem;
    }
    .burger_button{
        margin-top:1rem ;
    }
    .radio_change{
        flex-direction: column;
    }
    .flex2{
        flex-direction: column;
        align-items: stretch !important;
    }
    .add_auto {
        padding: 1rem;
        width: 100%;
    }
    .add_auto_title{
        font-size: 2.19rem !important;
    } 
    .add_auto div span{
        font-size: .9rem;
    }
    .add_auto div{
        width: 100%;
        margin-top: 2rem;
    }
    .flex{
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    .radio_change_btn{
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .radio_change_btn button{
        width: 9rem;
        height: 3rem;
        font-size: 1.4rem;
    }
    .radio_change {
        border-radius: 1rem;
        padding-top: 1rem;
    }
    input[type="radio"] {
        width: 1rem;
        height: 1rem;
    }
    .rowe{
        flex-direction: column;
        margin-top: 0;
    }
    .step{
        width: 100%;
        margin-top: 1rem;
    }
    .main_titile{
        margin-bottom: 0 !important;
        height: 0 !important;
    }
    main{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        padding-top: 1rem !important;
    }
    
}