@import url("./profil.css");

.visaCard{
    background-image: url("../images/image\ 21\ \(1\).png");
    background-size: cover;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15rem;
    margin-top: 2rem;
}
.visaCard_title{
   width: 50%;
   text-align: center;
}
.visaCard_title span{
    background: linear-gradient(97.9deg, #9C7E4F -9.11%, #E7DDCF 69.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.8rem;
}
.visaCard_main{
    display: flex;
}
.visaCard_main_img{
    display: flex;
    position: relative;
}
.img_card_1{
    width: 9rem;
    position: absolute;
    left: -13rem;
    top: -2rem;
}
.img_card_1 img{
    width: 100%;
}
.img_card_2{
    position: absolute;
    left: -8rem;
    width: 9rem;
    top: -2rem;
}
.img_card_2 img{
    width: 100%;
}
.visaCard_main_text{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
}
.visaCard_main_text span{
    font-size: 1rem;
    color: #fff;
}
.img_card_3{
    width: 9rem;
     position: absolute;
    left: -1rem;
    top: -2rem;
}
.img_card_3 img{
    width: 100%;
}
.img_card_4{  
    position: absolute;
    left: 4rem;
    width: 9rem;
    top: -2rem;
}
.img_card_4 img{
    width: 100%;
}
.visaCard_info{
    padding:2rem ;
    background: #000;
    margin-top: 2rem;
    width: 70%;
    color: #fff;
    font-size: 1.2rem;
}
.card_example{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.card_example_img{
    width: 18rem;
}
.card_example_img img{
    width: 100%;
}
.card_exampl_button_img{
    width: 2rem;
}
.card_exampl_button_img img{
    width: 100%;
}
.card_exampl_button button{
    background: linear-gradient(90deg, #FCDDB1 0%, #A6906B 100%);
    box-shadow: 0px 11px 26px #000000;  
    border: 1px solid #A6906B;
    padding: .6rem 3rem;
    border-radius: .5rem;
  }

  .card_exampl_button button:hover{
    background: transparent;
    color:#A6906B ;
  }
  .card_exampl_button{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 2rem;
  }
  .disabled{
    background: #565656 !important;
    box-shadow: 0px 11px 26px #000000 !important;
    color: #000 !important;
    border:1px solid #000 !important;
}
.visaCard_main_text2{
    display: none;
}
.mesage{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:#111111d5 ;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cloase_img{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}
.cloase_img img{
    width: 100%;
}
.mesage>div:nth-child(1){
    width: 30%;
    display: flex;
    justify-content: flex-end;
    background: #0E0E0E;
    box-shadow: 0px 32px 52px #000000;
    padding: .5rem;
} 
.mesage>div:nth-child(2) {
    width: 30%;
    background: #0E0E0E;
    box-shadow: 0px 32px 52px #000000;
    color: #fff;
    padding:0 2rem 2rem 2rem;
    text-align: center;
    font-size: 1.2rem;
}

@media only screen and (max-width: 550px) {
    main{
        padding-left: .5rem;
        padding-right: .5rem;
        padding-top: 0;
    }
    .visaCard{
        margin-top: 0;
        height: 27rem;
    }
    .card_example{
        flex-direction: column;
    }
    .visaCard_main_text{
        display: none;
    }
    .visaCard_title {
        width: 75%;
    }
    .img_card_1 {
        top: 1rem;
        left: -10rem;
    }
    .img_card_2 {
        top: 1rem;
        left: -6rem;
    }
    .img_card_3 {
        top: 1rem;
        left: -1rem;
    }
    .img_card_4 {
        top: 1rem;
        left: 2rem;
    }
    .visaCard_main_text2{
        display: block;
        margin-top: 11rem;
        width: 90%;
    }
    .visaCard_main_text2 span{
        font-size: 1.3rem;
    }
    .visaCard_info{
        width: 100%;
    }
    .card_example div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    .mesage{
        align-items: flex-end;
    }
    .mesage>div{
        width: 100% !important;
    }
}